@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  height: 454px; /*394*/
  width: 690px; /*690*/
}

.bg-app {
  background-color: #1d1d1d;
}

.bg-app-gray-700 {
  background-color: rgb(57 57 57);
}
